<div class="b-card col-12 col-md-6 col-lg-4 px-2 mb-3">
    <div class="wrapper">
        <div class="images mb-3 overflow-hidden">
            <img src="{{b_card_img}}" alt="" class="img img-auto img-w">
        </div>
        <div class="captions">
            <h4 class="text text-w-bold text-color-white text-size-1-5">{{b_card_title}}t</h4>
            <p class="text text-color-white">{{b_card_content}}</p>
            <a href="{{b_card_link}}" class="text text-color-white action">{{b_card_btn_text}}</a>
        </div>
    </div>
</div>